<div class="grid-container">
  <header class="row">
    <div>
      <a class="brand" routerLink="/"> Hally's Shop </a>
    </div>
    <div>
      <a routerLink="/cart">
        Cart
        <!--        if cartItems.length > 0-->
        <span *ngIf="true" class="badge">{{ 1 // cartItems.length }}</span>
      </a>

      <!-- <div *ngIf="'userInfo'" class="dropdown">
        <a routerLink="#">
          {{ "userInfo.name" }} <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-content">
          <li>
            <a routerLink="/profile">User Profile</a>
          </li>
          <li>
            <a routerLink="/orderhistory">Order History</a>
          </li>
          <li>
            <a routerLink="#signout" onClick="{signoutHandler}"> Sign Out </a>
          </li>
        </ul>
      </div> -->

      <!--if !userInfo-->
      <a *ngIf="true" routerLink="/signin">Sign In</a>
      <!-- <div *ngIf="'userInfo && userInfo.isAdmin'" class="dropdown">
        <a routerLink="#admin"> Admin <i class="fa fa-caret-down"></i> </a>
        <ul class="dropdown-content">
          <li>
            <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li>
            <a routerLink="/productlist">Products</a>
          </li>
          <li>
            <a routerLink="/orderlist">Orders</a>
          </li>
          <li>
            <a routerLink="/userlist">Users</a>
          </li>
        </ul>
      </div> -->
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="row center">All right reserved</footer>
</div>
