<div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="form">
    <div>
      <h1>Create Account</h1>
    </div>
    <app-loading-box *ngIf="loading"></app-loading-box>

    <app-message-box *ngIf="error" variant="danger">{{
      error
    }}</app-message-box>

    <div>
      <label for="name">Name</label>
      <input
        [(ngModel)]="name"
        type="text"
        id="name"
        name="name"
        placeholder="Enter name"
        required
      />
    </div>
    <div>
      <label for="email">Email address</label>
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        id="email"
        placeholder="Enter email"
        required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        id="password"
        placeholder="Enter password"
        required
      />
    </div>
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        type="password"
        id="confirmPassword"
        placeholder="Enter confirm password"
        required
      />
    </div>
    <div>
      <label></label>
      <button [disabled]="!registerForm.valid" class="primary" type="submit">
        Register
      </button>
    </div>
    <div>
      <label></label>
      <div>
        Already have an account?
        <a routerLink="/signin" [queryParams]="{redirect}">Sign-In</a>
      </div>
    </div>
  </form>
</div>
