<div>
  <h1>Orders</h1>
  <app-loading-box *ngIf="loadingDelete"></app-loading-box>
  <app-message-box *ngIf="errorDelete" variant="danger">{{
    errorDelete
  }}</app-message-box>

  <app-loading-box *ngIf="loading"></app-loading-box>
  <app-message-box *ngIf="error" variant="danger">{{ error }}</app-message-box>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>USER</th>
        <th>DATE</th>
        <th>TOTAL</th>
        <th>PAID</th>
        <th>DELIVERED</th>
        <th>REFUNDED</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order._id }}</td>
        <td>{{ order.user.name }}</td>
        <td>{{ order.createdAt.substring(0, 10) }}</td>
        <td>{{ order.totalPrice.toFixed(2) }}</td>
        <td>{{ order.isPaid ? order.paidAt.substring(0, 10) : "No" }}</td>
        <td>
          {{ order.isDelivered ? order.deliveredAt?.substring(0, 10) : "No" }}
        </td>
        <td>
          {{ order?.isRefunded ? order.refundedAt?.substring(0, 10) : "No" }}
        </td>
        <td>
          <button
            type="button"
            class="small"
            (click)="detailsHandler(order._id)"
          >
            Details
          </button>
          <button type="button" class="small" (click)="deleteHandler(order)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
