<div>
  <app-checkout-steps
    [step1]="true"
    [step2]="true"
    [step3]="true"
  ></app-checkout-steps>
  <form #paymentForm="ngForm" (ngSubmit)="submitHandler()" class="form">
    <div>
      <h1>Payment Method</h1>
    </div>
    <div>
      <div>
        <input
          type="radio"
          id="paypal"
          value="PayPal"
          name="paymentMethod"
          required
          [(ngModel)]="paymentMethod"
        />
        <label htmlFor="paypal">PayPal</label>
      </div>
    </div>
    <div>
      <div>
        <input
          type="radio"
          id="stripe"
          value="Stripe"
          name="paymentMethod"
          required
          [(ngModel)]="paymentMethod"
        />
        <label htmlFor="stripe">Stripe</label>
      </div>
    </div>
    <div>
      <label></label>
      <button class="primary" type="submit">Continue</button>
    </div>
  </form>
</div>
