<div class="rating">
  <span>
    <fa-icon
      [icon]="
        rating! >= 1
          ? faStarSolid
          : rating! >= 0.5
          ? faStarHalfSolid
          : faStarRegular
      "
    ></fa-icon>
  </span>
  <span>
    <fa-icon
      [icon]="
        rating! >= 2
          ? faStarSolid
          : rating! >= 1.5
          ? faStarHalfSolid
          : faStarRegular
      "
    ></fa-icon>
  </span>
  <span>
    <fa-icon
      [icon]="
        rating! >= 3
          ? faStarSolid
          : rating! >= 2.5
          ? faStarHalfSolid
          : faStarRegular
      "
    ></fa-icon>
  </span>
  <span>
    <fa-icon
      [icon]="
        rating! >= 4
          ? faStarSolid
          : rating! >= 3.5
          ? faStarHalfSolid
          : faStarRegular
      "
    ></fa-icon>
  </span>
  <span>
    <fa-icon
      [icon]="
        rating! >= 5
          ? faStarSolid
          : rating! >= 4.5
          ? faStarHalfSolid
          : faStarRegular
      "
    ></fa-icon>
  </span>
  <span>{{ numReviews + " reviews" }}</span>
</div>
