<div>
  <form #updateForm="ngForm" class="form" (ngSubmit)="onSubmit()">
    <div>
      <h1>User Profile</h1>
    </div>

    <app-loading-box *ngIf="detailsLoading"></app-loading-box>

    <app-message-box *ngIf="detailsError" variant="danger">{{
      detailsError
    }}</app-message-box>

    <ng-container *ngIf="!detailsError && !detailsLoading">
      <app-loading-box *ngIf="updateLoading"></app-loading-box>

      <app-message-box *ngIf="updateError" variant="danger">{{
        updateError
      }}</app-message-box>

      <app-message-box *ngIf="updateSuccess" variant="success">
        Profile Updated Successfully</app-message-box
      >

      <div>
        <label for="name">Name</label>
        <input
          id="name"
          name="name"
          [(ngModel)]="name"
          type="text"
          placeholder="Enter name"
        />
      </div>
      <div>
        <label for="email">Email</label>
        <input
          name="email"
          [(ngModel)]="email"
          id="email"
          type="email"
          placeholder="Enter email"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          name="password"
          [(ngModel)]="password"
          id="password"
          type="password"
          placeholder="Enter password"
        />
      </div>
      <div>
        <label for="confirmPassword">confirm Password</label>
        <input
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          id="confirmPassword"
          type="password"
          placeholder="Enter confirm password"
        />
      </div>
      <div>
        <label></label>
        <button [disabled]="!updateForm.valid" class="primary" type="submit">
          Update
        </button>
      </div>
    </ng-container>
  </form>
</div>
